						<div id = "landTab1Content" class = "landTab landShowContent">
							<h2><%= @kw_group.titleize %> Overview</h2>
							<p>The first step in treatment involves detox. A medical detox helps to rid the body of harmful and dangerous toxins accumulated from drug and alcohol abuse. During this phase, our professional staff works with our guests to determine the type of detoxification necessary.</p> 
							<p>An unsupervised detox done on your own can be very difficult to do as the physical discomforts and challenges often cause people to fail. More importantly detox can also be dangerous. Thus, a successful detox is done in a safe, comfortable, and medically supervised environment.</p>
							<p>Beachside detox is supervised by a licensed clinical team who customizes each detox to our guest's needs. We make sure each client receives the best medical detox available in an environment expressly designed to help you start on your next phase of recovery and rehab.</p>

							<%= render '/shared/photo_gallery' %>

						</div>	
						<div id = "landTab2Content" class = "landTab">
							<h2><%= @kw_group.titleize %> Program</h2>
							<p>Detox is not the same for each individual. Multiple factors determine the type of medical detox that is necessary, including, the type of drugs abused, history of drug use, and how frequently drugs were used.</p>
							<p>During detoxification, when the use of drugs or alcohol is abruptly stopped the body experiences physical discomfort know as withdrawal symptoms. Withdrawal symptoms from detox vary depending on a person's level of dependency and may include, 
								<ul>
									<li>Nausea, Shakes, Night Sweats</li>
									<li>Fatigue, Depression</li>
									<li>Anxiety, Rapid Heart Beat</li>
									<li>Convulsions, Seizures</li>
									<li>Hallucinations, Blackouts</li>
									<li>Death</li>
								</ul>
							</p>
							<p>Our licensed, clinical team guides our guests through medical detox in a safe, comfortable, and supervised environment. The customized treatments provide our clients with the best medical detox available helping them complete the first phase on their path to recovery as comfortably and effectively as is possible.</p>
							<p>We accept insurance. Call us at <%= cms_snippet_content(:phone_ads)%> and we can quickly determine your coverage.</p>
						</div>	