						<div id = "landTab1Content" class = "landTab landShowContent">
							<h2><%= @kw_group.titleize %> Overview</h2>
							<p>Drug addiction is a serious problem. Those suffering from drug addiction often lose control of their lives as the desire for the drug takes over.</p> 
							<p>The demand for drug rehab has grown drastically in recent years as people seek freedom from their addiction and realize the success rate for self rehab is extremely low. Successful rehab generally requires a support team and nurturing environment.</p>
							<p>Beachside drug rehab provides addicts this support as well as long-term tools to regain control of their lives and to build a life free from drug use. Our licensed counselors create programs tailored to the needs of each guest. Our treatment center and living areas are expressly designed to create an optimal environment for your rehab.</p>

							<%= render '/shared/photo_gallery' %>
								
						</div>	
						<div id = "landTab2Content" class = "landTab">
							<h2><%= @kw_group.titleize %> Program</h2>
							<p>Our rehab clients arrive at Beachside facing issues such as job loss, financial difficulties, family problems, relationship loss, law problems, and health issues. Their addiction to benzoids, opiates, meth, cocaine, pain-killers, and other drugs have taken over their lives.</p>
							<p>Beachside Rehab guides our guests through a proven program tailored to suit the needs of each guest. Our rehabilitation program is lead by a world-class, licensed staff who provide drug rehab therapy day in and day out including, 
								<ul>
									<li>Individual and Group Therapy</li>
									<li>Educational Drug Addiction Therapy</li>
									<li>Expressive Art therapy</li>
									<li>Relapse Prevention</li>
									<li>Family Counseling</li>
									<li>EMDR Therapy</li>
								</ul>
							</p>
							<p>Our counseling combined with nutrition and fitness programs helps addicts address the root causes of addiction leading to a sustained, functional, and healthy rehabilitation.</p>
							<p>We accept insurance. Give us a call at <%= cms_snippet_content(:phone_ads)%> and we can quickly determine your coverage.</p>
						</div>	