/*
.imgCenter {
  background: url( asset-path("cms/beachside-center.jpg", image) ) center no-repeat;
  background-size:  cover;
  height: 350px; 
  margin-bottom: 1.5em;
}
*/

.imageWide img {
  max-width: 100%;
  background-size: cover;
}


img.cmsImageRight {
	width:60%;
	float: right;
	padding-left: 2.5em;
}


img.cmsImageLeft {
	width:60%;
	float: left;
	padding-right: 2.5em;
}

.cmsStaffBio {
	margin: 0em 0em;
	h2 {
		size: 2.0em;
		margin-bottom: 0em;
	}
	h3 {
		font-size: .75em;
		color: $highlightColor
	}
	.cmsStaffDesc {
		float: right;
		width: 80%;
	}
}
img.cmsImageStaff {
	float: left;
	width: 20%;
	max-width: 150px;
}

.cmsStaffSpacer {
	height: 2.5em;
	clear:both
}

// iframe for contact
.cmsContentLeft {
	float: left;
	padding-right: 2.5em;	
}

// for photo gallery
.cms {
 	.photoGallery {
		float: left;
		text-align: center;
		width: 25%;
		font-size: .7em;
		color: $logoColor;
	}
	.testimonialReviewer {
		color: $landHighlight;
		float: right;
		margin-bottom: .5em;
	}	
}	