/*
.imgCenter {
  background: url( asset-path("cms/beachside-center.jpg", image) ) center no-repeat;
  background-size:  cover;
  height: 350px; 
  margin-bottom: 1.5em;
}
*/

.imageWide img {
  max-width: 100%;
  background-size: cover;
}


img.cmsImageRight {
	width:60%;
	float: right;
	padding-left: 2.5em;
}


img.cmsImageLeft {
	width:60%;
	float: left;
	padding-right: 2.5em;
}

// iframe for contact
.cmsContentLeft {
	float: left;
	padding-right: 2.5em;	
}

