// Variables
$pageBackground: #fff;
$mainColor: #666;
$highlightColor: #00267d;
$lightGrey: #eee;
$logoColor: #646054;

// sets rounded corners for most browsers use @include rounded (radius)
@mixin rounded($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

/*limited reset*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, section, summary {
	display: block;
}

// ********** main tag settings

html, body, section{
    height: 100%;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background: $pageBackground;
	color: $mainColor;
}


header {
  padding-top: 2%;
  margin: 0 10%;
}

section {
  margin: 4% 10%;
  height: 100%;
}

.clearboth {
	clear: both;
}

// for email addresses. reverse and unicode 
.code {
    direction: rtl;
    unicode-bidi: bidi-override;
}


//  ****** logo and header styles *******

.headIntro {
	font-family: 'Kameron', serif;
}

.headDesc, .headPhone {
	text-align: center;	
	opacity: 0.7;
	font-size: 1.6em;
	line-height: 1.1em;
	color: $highlightColor;
} 

.headDesc{
	float: left;
	.rehab { padding-top: 1.3em;}
}
.headLogo {
	text-align: center;
	color: $logoColor;
  background: url( asset-path("blank-logo.png", image) ) center no-repeat;
  height: 6em;	
  line-height: 1.3em;
  .beachside {
  	padding-top: 1.4em;
  	font-size: 2em
  }
  .hutch {font-size: 0.75em}
}

.headPhone {
	float: right;
	.headNum{ padding-top: 1.3em;}
	.headHour {
		font-size: .6em;
		line-height: 1.1em;
}
}



// ***************** menu  ***************
.menuLine{
	clear: both;
	border-bottom: .2em solid $highlightColor;
	margin-bottom: -1.15em;
	margin-top: 1.5em;
}

nav {
	clear: both;
	text-align: center;
	font-size: .95em;
}

#menu{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	background-color: $pageBackground;	
}

#menu li{
	float: left;
	text-align: left;
	padding: 0 0 0 0;
	position: relative;
}

#menu a{
	line-height: 2em;
	padding: 0 2em;
	color: $highlightColor;
	text-transform: uppercase;
	text-decoration: none;
}

#menu li:hover > a{
	text-decoration: none;
	background: $lightGrey;
	@include rounded(.3em);
}

#menu li:hover > ul{
	display: block;

}

/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    left: 0;
    z-index: 99999;   
    background: $lightGrey; 
		top:2em;
    @include rounded (.5em)
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
}

#menu ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}


*:first-child+html #menu ul a{ /* IE7 */    
	height: 10px;
	width: 150px;
}

#menu ul a:hover{
  background: $highlightColor;
  color: white;
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


*:first-child+html #menu { zoom: 1; } /* IE7 */

// highlights menu navigation for selected page

#center #center-nav, #programs #programs-nav, #about-us #about-us-nav, #contact #contact-nav {
	text-decoration: underline;
} 
