
@import "custom";

// Show/Removes "Rehab and Detox" or "Florida/FL"
.normalDevice {
	display: inline;
}

.narrowDevice {
	display: none;
}

/* mobile styles */

/* Smartphone Portrait */
@media only screen and (max-width: 320px) {
	header {
		margin:	0 5%;
	}
	section {
  margin: 1% 5%;
	}
	.menuLine{
	  display: none;
	}
	 
	nav {
		clear: both;
		text-align: center;
		font-size: .8em;
		margin: 1em 0;
	}

	.normalDevice {
		display: none
	}		

	.narrowDevice {
		display: inline;
	}

	.headPhone {
		font-size: 1.1em;
		line-height: 1.1em;
		.headNum{
			padding-top: .5em;
		}
	} 	

	.headLogo {
	  background: url( asset-path("blank-logo.png", image) ) left center no-repeat;
		background-size: contain;
		height: 3em;
		line-height: 1.1em;
		font-size: .8em;
		padding-left: 3em;
		float:left;
	  .beachside {
	  	padding-top: .5em;
	  	}
	  .hutch {font-size: 0.9em}
	}

	#menu li{
		float:none;
		display: inline;
		text-align: center;
	}	

	#menu a{
		line-height: 1em;
		padding: 0 0.6em;		
	}	

	.cms #menu a {
		text-transform: lowercase;
	}

	#menu ul{
		top:1.4em;
	}

	.imgCenter,.imgPrograms,.imgContact, .imgAboutUs {
	  height: 150px; 
	}	

	img.cmsImageRight, img.cmsImageLeft {
		width:100%;
		float: none;
		padding: 0em;
		display: block;
		margin: 0 auto;
	}

}

/* Smartphone Landscape */
@media only screen and (min-width: 321px) and (max-width: 480px) {

	header {
		margin:	0 5%;
	}
	section {
  margin: 1% 5%;
	}
	.menuLine{
	  display: none;
	}
	 
	nav {
		clear: both;
		text-align: center;
		font-size: .8em;
		margin: 1em 0;
	}

	.normalDevice {
		display: none
	}		

	.narrowDevice {
		display: inline;
	}

	.headPhone {
		font-size: 1.2em;
		line-height: 1.1em;
		.headNum{
			padding-top: .5em;
		}
	} 	

	.headLogo {
	  background: url( asset-path("blank-logo.png", image) ) left center no-repeat;
		background-size: contain;
		height: 4em;
		line-height: 1.1em;
		font-size: .8em;
		padding-left: 3.5em;
		float: left;
	  .beachside {
	  	padding-top: .5em;
	  	}
	  .hutch {font-size: 0.9em}
	}

	#menu li{
		float:none;
		display: inline;
		text-align: center;
	}	

	#menu a{
		line-height: 1em;
		padding: 0 1.1em;		
	}	

	.cms #menu a {
		text-transform: lowercase;
	}

	#menu ul{
		top:1.4em;
	}

	.imgCenter,.imgPrograms,.imgContact, .imgAboutUs {
	  height: 150px; 
	}	

	img.cmsImageRight, img.cmsImageLeft {
		width:100%;
		float: none;
		padding: 0em;
		display: block;
		margin: 0 auto;
	}
}	

// Larger Smart Phone Landscape
@media only screen and (min-width: 481px) and (max-width: 720px) {
	header {
		margin:	0 5%;
	}
	section {
  margin: 1% 5%;
	}
	.menuLine{
	  display: none;
	}
	 
	nav {
		clear: both;
		text-align: center;
		font-size: .8em;
		margin: 1em 0;
	}

	.normalDevice {
		display: none
	}		

	.narrowDevice {
		display: inline;
	}

	.headPhone {
		font-size: 1.2em;
		line-height: 1.1em;
		.headNum{
			padding-top: .5em;
		}
	} 	

	.headLogo {
	  background: url( asset-path("blank-logo.png", image) ) left center no-repeat;
		background-size: contain;
		height: 4em;
		line-height: 1.1em;
		font-size: .8em;
		padding-left: 3.5em;
		float: left;
	  .beachside {
	  	padding-top: .5em;
	  	}
	  .hutch {font-size: 0.9em}
	}

	.imgCenter,.imgPrograms,.imgContact, .imgAboutUs {
	  height: 150px; 
	}	

	img.cmsImageRight, img.cmsImageLeft {
		width:50%;
		float: none;
		padding: 0em;
		display: block;
		margin: 0 auto;
	}

}

@media only screen and (min-width: 721px) and (max-width: 1024px) {

	header {
		margin:	0 5%;
	}
	section {
  margin: 1% 5%;
	}  

}