// Show/Removes "Rehab and Detox" or "Florida/FL"
.normalDevice {
	display: inline;
}


/* mobile styles */

/* Smartphone Portrait */
@media only screen and (max-width: 320px) {
	header {
		margin:	0 5%;
	}
	section {
  margin: 1% 5%;
	}
	.menuLine{
	  display: none;
	}
	 
	nav {
		clear: both;
		text-align: center;
		font-size: .8em;
		margin: 1em 0;
	}

	.normalDevice {
		display: none
	}		

	.headPhone {
		font-size: 1.1em;
		line-height: 1.1em;
		.headNum{
			padding-top: .5em;
		}
	} 	

	.headLogo {
		text-align: left;
		float: left;
		width: 45%;
		img {width: 100%}
	}


	#menu {
		width: 100%;
		padding: 0;
		li{
			float:none;
			display: inline;
			text-align: center;
		}	
	 	a{
		line-height: 1em;
		padding: 0 0.4em;		
		}

	}	

	.bx-controls {
		display: none;
	}

	.bx-wrapper {
		margin-bottom: 1em;
	}

	.imgCenter,.imgPrograms,.imgContact, .imgAboutUs {
	  height: 150px; 
	}	

	img.cmsImageRight, img.cmsImageLeft {
		width:100%;
		float: none;
		padding: 0em;
		display: block;
		margin: 0 auto;
	}
	// iframe for contact
	.cmsContentLeft {
		padding-right: 0em;
		float:none;
	}	

	// homepage
	.homeContentBox{
		margin: 10%;
		height: 18em;
	}
	.homeContent {
		top: -18em;
		h1{font-size: 2em;}
		.homeLocation {font-size: .9em; padding-top: 1.1em;}
		.homePhone a.clickCall {font-size: 1.5em;}
		.homeInsLogo {display: none;}
	}
}

/* Wider Smartphone Portrait and Landscape */
@media only screen and (min-width: 321px) and (max-width: 480px) {

	header {
		margin:	0 5%;
	}
	section {
  margin: 1% 5%;
	}
	.menuLine{
	  display: none;
	}
	 
	nav {
		clear: both;
		text-align: center;
		font-size: .8em;
		margin: 1em 0;
	}

	.normalDevice {
		display: none
	}		

	.narrowDevice {
		display: inline;
	}

	.headPhone {
		font-size: 1.2em;
		line-height: 1.1em;
		.headNum{
			padding-top: .5em;
		}
	} 	

	.headLogo {
		text-align: left;
		float: left;
		width: 28%;
		img {width: 100%}
	}

	#menu {
		width: 100%;
		padding: 0;
		li{
			float:none;
			display: inline;
			text-align: center;
		}	
	 	a{
		line-height: 1em;
		padding: 0 1.2em;		
		}
	}	

	.bx-controls {
		display: none;
	}

	.bx-wrapper {
		margin-bottom: 1em;
	}

	.imgCenter,.imgPrograms,.imgContact, .imgAboutUs {
	  height: 150px; 
	}	

	img.cmsImageRight, img.cmsImageLeft {
		width:100%;
		float: none;
		padding: 0em;
		display: block;
		margin: 0 auto;
	}
	// iframe for contact
	.cmsContentLeft {
		padding-right: .5em;
		float: none;
		text-align: center;
	}	

	// homepage
	.homeContentBox{
		margin: 5% 5%;
		height: 16em;
	}
	.homeContent {
		top: -16em;
		h1{font-size: 2.5em;}
		.homeLocation {font-size: .9em; padding-top: 1.1em;}
		.homePhone a.clickCall {font-size: 1.7em;}
		.homeInsLogo {display:none}
	}	
}	

// Larger Smart Phone Landscape
@media only screen and (min-width: 481px) and (max-width: 720px) {
	header {
		margin:	0 5%;
	}
	section {
  margin: 1% 5%;
	}
	.menuLine{
		border-bottom: .15em solid $highlightColor;
		margin-bottom: -1.3em;	
		margin-top: 1em;
	}
	 
	nav {
		clear: both;
		text-align: center;
		font-size: .8em;
		margin: .5em 0;
	}

	.headPhone, .headDesc {
		font-size: 1.2em;
		line-height: 1.1em;
		.headNum, .rehab{
			padding-top: .5em;
		}
	} 	

	.headLogo {
		text-align: center;
		img {width: 25%;}
	}

	.imgCenter,.imgPrograms,.imgContact, .imgAboutUs {
	  height: 150px; 
	}	

	img.cmsImageRight, img.cmsImageLeft {
		width:50%;
		float: none;
		padding: 0em;
		display: block;
		margin: 0 auto;
	}
	// homepage
	.homeContentBox{
		margin: 10%;
		height: 18em;
	}
	.homeContent {
		top: -19em;
		h1{font-size: 2.5em;}
		.homeLocation {font-size: .9em; padding-top: 1.1em;}
		.homePhone a.clickCall {font-size: 1.7em;}
		.homeInsLogo {display:none}
	}		

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

	header {
		margin:	0 5%;
	}
	section {
  margin: 1% 5%;
	}  

	// homepage
	.homeContentBox{
		margin: 10%;
		height: 18em;
	}
	.homeContent {
		top: -21em;
		h1{font-size: 2.5em;}
		.homeLocation {font-size: .9em; padding-top: 1.1em;}
		.homePhone a.clickCall {font-size: 1.7em;}
		.homeInsLogo {
			img {width: 15%}
		}	
	}		

}

