// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "custom_variables";

.landContentBox {
	background: $pageBackground;
	opacity: 0.8;
	height: 54em;
	margin: 1% 0%;
	@include rounded (.3em);
}

.landContent {
	position: relative;
	margin: 0 7%;
	text-align: center;	
	top: -54em;
	div {margin: 0; padding: 0;}

	.landIntro {
		font-family: 'Kameron', serif;
		margin-bottom: 1em;
	}

	.landHead{
		text-align: center;	
		opacity: 0.7;
		font-size: 1.5em;
		line-height: 1.1em;
		color: $highlightColor;
		.rehab { padding-top: .7em;}
	}	

	.landRight {
		float:right;
	}

	.landLeft {
		float: left;
	}
	.landLogo {
		text-align: center;
		img {width: 170px;}
	}

	.bx-controls {
		display: none;
	}

	.landDesc {
		float: left;
		text-align: left;
		width: 60%;
		margin-top: 1.7em;
		padding: 0;
	}

	.landActionSection {
		width: 36%;
		float: right;
		color: $landHighlight;
		margin-top: 2em;
		.landAction { 
			font-size: 1em;
			a {font-size: 1.5em}
			border: 1px solid $landHighlight;
			width: 93%;
			background: $pageBackground;
			margin: 0 auto;
			@include rounded (.3em);

		}

		.landFollow {
			margin-top: 1em;
		}

		.landSuccess {
			margin-top: 3em;
		}
		#new_guest {
			margin-top: 1em;
			font-size: .9em;
		}
		.new_guest label {

    width:6em;
    height: 1.4em;
    text-align: right;
    margin: .2em 0;
    display:inline-block;
    float:left;
    padding: 0 ;
		}
		.new_guest input {
			height: 1.4em;
			margin: .2em 0;
			width: 14em;
			padding: 0 ;
		}
		.new_guest textarea {
			width: 14em;
			margin: .2em 0;
		}

		#landPhoneError{
			color: $errorColor;
			font-size: .9;
			display: none;
		}
		input.submitButton {
			@include rounded (.3em);
			background: $landHighlight;
			font-size: 1.2em;
			height: 2.2em;	
			width: 16em;
			margin: .5em;
			color: $pageBackground;
			opacity: .8;
		}

		input.submitButton:hover {
			background: $errorColor;

			cursor: pointer;
		}


	}

	ul#landNav {
		list-style:none;
		margin: 0 0 0 1em;
	}
	ul#landNav li {
		float:left;
	}
	ul#landNav li a {
		color: $highlightColor;
		background: none;
		display:block;
		padding:.4em 1em;
		margin:0;
		text-decoration: none;
		outline: none;		
	}
	ul#landNav li a.landSelected {
		border-bottom:1px solid $pageBackground;
		background:$pageBackground;
	 	border-radius: .3em .3em 0 0 ;
  	-moz-border-radius: .3em .3em 0 0 ;
  	-webkit-border-radius: .3em .3em 0 0 ;		
	}

	#landDescContent div {
		display: none;
	}
	#landDescContent div.landShowContent {
		display: block;
		background: $pageBackground;
		height: 19em;
		padding: .5em 1em;
		@include rounded (.3em);
	}	

	#landDescContent {
		table{
			border-collapse: collapse;
			margin: 1em auto;
			tr th {
				padding: 0 1em;
				margin: 0;
			}	
			tr td:first-child + td {
				text-align: center;
			}
			tr td:last-child {
				text-align: center;
				color:$landHighlight;
			}
			tr:last-child td{
		 		border-bottom: dotted 1px $logoColor;
		 	}
		 	tr:first-child th{
		 		border-top: dotted 1px $logoColor;
		 		border-bottom: dotted 1px $logoColor;
		 	}
		} 	
	}

	.landIns{
		color: $highlightColor;
		font-size: .8em;
		margin-top: 2.5em;
		text-align: center;
		img { margin: 0 .5em;}
	}

	footer {
		margin-top: 1%;
	}

}