
// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landContentBox {
	background: $pageBackground;
	opacity: 0.8;
	height: 72em;
	margin: 1% 0%;
	@include rounded (.3em);
}

.landContent {
	position: relative;
	margin: 0 7%;
	top: -72em;
	div {margin: 0; padding: 0;}

// Show/Removes "Rehab and Detox" or "Florida/FL"
	.landNormalDevice {
		display: block;
	}

	.landMobile {
		display:	none;
	}

	.landIntro {
		font-family: 'Kameron', serif;
		margin-bottom: 1em;
	}

	.landHead{
		text-align: center;	
		opacity: 0.7;
		font-size: 1.5em;
		line-height: 1.1em;
		color: $highlightColor;
		.rehab { padding-top: .7em;}
		h1.rehab { 
			font-size: 1em;
			margin: 0em;
		 }
	}	

	.landRight {
		float:right;
	}

	.landLeft {
		float: left;
	}
	.landLogo {
		text-align: center;
		img {width: 170px;}
	}

	.bx-controls {
		display: none;
	}

	.landDesc {
		float: left;
		text-align: left;
		width: 65%;
		margin-top: 1.5em;
		padding: 0;
	}

	.landAction { 
		font-size: 1em;
		text-align: center;
		a {font-size: 1.5em}
		border: 1px solid $landHighlight;
		background: $pageBackground;
		margin: 0 auto;
		@include rounded (.3em);
	}


	.landActionSection {
		width: 15em;
		float: right;
		color: $landHighlight;
		margin: 1.5em 1em 0em;

		.landFollow {
			text-align: center;
			margin-top: 1em;
		}

		.landSuccess {
			margin-top: 3em;
		}
		#new_guest {
			margin-top: 1em;
			font-size: .9em;
		}
		.new_guest label {
			display: block;
			margin: 0.5em 0 0;
			padding: 0;
			width: 100%;

		}
		.new_guest input {
			margin: 0;
			padding: 0;
			width: 100%;
		}
		.new_guest textarea {
			margin: 0;
			padding: 0;
			width:100%;
		}

		input.submitButton {
			@include rounded (.3em);
			background: $landHighlight;
			font-size: 1.2em;
			height: 2.2em;	
			width: 100%;
			margin-top: .5em;
			color: $pageBackground;
			opacity: .8;
		}

		input.submitButton:hover {
			background: $errorColor;

			cursor: pointer;
		}


	}

	ul#landNav {
		list-style:none;
		margin: 0 0 0 1em;
	}
	ul#landNav li {
		float:left;
	}
	ul#landNav li a {
		color: $landHighlight;
		background: none;
		display:block;
		padding:.4em 1em;
		margin:0;
		text-decoration: none;
		outline: none;		
	}
	ul#landNav li a.landSelected {
		border-bottom:1px solid $pageBackground;
		background:$pageBackground;
	 	border-radius: .3em .3em 0 0 ;
  	-moz-border-radius: .3em .3em 0 0 ;
  	-webkit-border-radius: .3em .3em 0 0 ;		
	}

	#landDescContent div.landTab {
		display: none;
	}
	#landDescContent div.landShowContent {
		display: block;
		background: $pageBackground;
		height: 36em;
		padding: .5em 1.5em;
		@include rounded (.3em);
	}	

	#landDescContent {
		h1 { color: $highlightColor }
		table{
			border-collapse: collapse;
			margin: 1em auto;
			tr th {
				padding: 0 1em;
				margin: 0;
			}	
			tr td:first-child + td {
				text-align: center;
			}
			tr td:last-child {
				text-align: center;
				color:$landHighlight;
			}
			tr:last-child td{
		 		border-bottom: dotted 1px $logoColor;
		 	}
		 	tr:first-child th{
		 		border-top: dotted 1px $logoColor;
		 		border-bottom: dotted 1px $logoColor;
		 	}
		} 	
	}

	.photoGallery {
		float: left;
		text-align: center;
		width: 25%;
		font-size: .7em;
		color: $logoColor;
	}

	.landIns{
		color: $landHighlight;
		font-size: 1.2em;
		margin-top: 2em;
		text-align: center;
		img { margin: 0 .5em;}
		div { margin: 1em 0em;}
	}

	.testimonialReviewer {
		color: $landHighlight;
		float: right;
		margin-bottom: .5em;
	}
	footer {
		margin-top: 2em;
	}

}

//landing page

// destop width bewteen ipad and 1200
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	.landContentBox {
		height: 80em;
	}		

	.landContent{
		top: -80em;
	
		.landDesc {
			width: 64%;
		}		
		.landActionSection {
			margin: 3em 0em 0em;
			width: 12em;
		}

		ul#landNav li a {
			padding:.4em 1em;
		}
		#landDescContent div.landShowContent {
			height: 44em;
		}	
	}
}

// ipad portrait
@media only screen and (min-width: 768px) and (max-width: 1024px) {

	.landContentBox {
		height: 90em;
	}	

	.landContent{
		top: -90em;

		.landDesc {
			width: 64%;
		}		
		.landActionSection {
			margin: 3em 0em 0em;
			width: 12em;
		}

		ul#landNav {
			margin: 0 0 0 .3em;
		}
		ul#landNav li a {
			padding:.4em .5em;
		}
		#landDescContent div.landShowContent {
			height: 58em;
		}
		.photoGallery {
			width: 33%;
		}		

	}

}


// ipad portrait landscape
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) {

	.landContentBox {
		height: 75em;
	}	

	.landContent{		
		top: -75em;

		.landActionSection {
			margin: 2em 1em 0em;
			width: 15em;
		}		
		ul#landNav li a {
			padding:.4em 1em;
		}
		#landDescContent div.landShowContent {
			height: 40em;
		}

	}

}

//iphone and iphone 5 portrait

@media only screen and (min-width: 320px) and (max-width : 568px) {

	.homepage {
	  background: image-url("beachside-rehab-mobile.jpg") no-repeat center top; 
	}	

	.landContentBox {
		height: 140em;
	}	


	.landContent{	
		top: -140em;

		.landMobile {
			display:block;
		}
		.landNormalDevice {
			display: none
		}	

		.landHead {
			font-size: 1em;
			line-height: 1em;
		} 		

		.landLogo {
			text-align: left;
			float: left;
			width: 45%;
			img {width: 100%}
		}

		.landDesc {
			width: 100%;
		}		
		.landAction{
			margin: 1em 0em;
		}
		.landActionSection {
			margin: 1em 0em 0em;
			width: 100%;
		}

		ul#landNav {
			margin: 0;
		}
		ul#landNav li a {
			padding:.4em .4em;
			font-size: .7em;
		}
		#landDescContent div.landShowContent {
			height: auto;
			font-size: .9em;
			@include rounded (0em);
			overflow: hidden;
		}	
		#landDescContent table{
			font-size: .7em;
			th {text-align: center;}
		}		
		.photoGallery {
			width: 50%;
		}			
	}
	// removed title from gallery display
	#cboxTitle {display: none !important}
}

@media only screen and (min-width: 320px) and (max-width : 568px) and (orientation : landscape) {
	.homepage {
	  background: image-url("beachside-rehab-mobile.jpg") no-repeat center top; 
	}

	.landContentBox {
		height: 115em;
	}	


	.landContent{	
		top: -115em;

		.landMobile {
			display:block;
		}
		.landNormalDevice {
			display: none
		}	

		.landHead {
			font-size: 1.3em;
			line-height: 1.1em;
		} 		

		.landLogo {
			text-align: left;
			float: left;
			width: 45%;
			img {width: 100%}
		}

		.landDesc {
			width: 100%;
		}		
		.landAction{
			margin: 1em 0em;
		}
		.landActionSection {
			margin: 1em 0em 0em;
			width: 100%;
		}

		ul#landNav {
			margin: 0 0 0 1em;
		}

		ul#landNav li a {
			padding:.4em .7em;
			font-size: .9em;
		}
		#landDescContent div.landShowContent {
			height: auto;
			overflow: hidden;
			font-size: .9em;
			@include rounded ( .3em);
		}
		#landDescContent table{
			font-size: .9em;
			th {text-align: center;}
		}	
			
	}
}

@media only screen and (min-width: 569px) and (max-width : 767px) {
	.homepage {
	  background: image-url("beachside-rehab-mobile.jpg") no-repeat center top; 
	}
	.landContentBox {
		height: 110em;
	}	


	.landContent{	
		top: -110em;

		.landMobile {
			display:block;
		}
		.landNormalDevice {
			display: none
		}	

		.landHead {
			font-size: 1.3em;
			line-height: 1.1em;
		} 		

		.landLogo {
			text-align: left;
			float: left;
			width: 45%;
			img {width: 80%}
		}

		.landDesc {
			width: 100%;
		}		
		.landAction{
			margin: 1em 0em;
		}
		.landActionSection {
			margin: 1em 0em 0em;
			width: 100%;
		}

		ul#landNav {
			margin: 0 0 0 1em;
		}

		ul#landNav li a {
			padding:.4em .7em;
			font-size: .9em;
		}
		#landDescContent div.landShowContent {
			height: auto;
			overflow: hidden;
			font-size: .9em;
			@include rounded ( .3em);
		}
		#landDescContent table{
			font-size: .9em;
			th {text-align: center;}
		}	
		.photoGallery {
			width: 33%;
		}				
			
	}
}