<%
# in navigation menu replace '#' with page.full_path to have main nav heads link to page
%>
<nav>
	<ul id = "menu">
		<% @cms_site.pages.root.children.published.each_with_index do |page, index| %>
			<li <%= "class = blankHome" if index == 0 %>><%= link_to page.label, '#', id: page.slug+"-nav" %>
			<% if page.children_count > 0 %>		
				<ul>
					<% @cms_site.pages.published.each do |subpage| %>
						<% if (subpage.parent_id == page.id) %>
							<li><%= link_to subpage.label, subpage.full_path %></li>
						<% end %>	
					<% end %>
				</ul>
			<% end%>
			</li>
		<% end %>	
	</ul>
</nav>