<!DOCTYPE html>
<html lang="en">

<head>

	<%= render '/layouts/header_tags' %>

</head>

<body class = "homepage" <%# brings in background image %>>
	<%= render '/layouts/google_tag' %>	
	<header>



	</header>

	<%= yield %>

</body>
</html>